
#warp{
    position: relative;
    overflow-x: scroll;
    width: 100%;
}

 #scrollBoby{
     position: absolute;
     /*top:0;*/
     left: 0;
     height: 100%;
     /*background: red;*/
}

.item{
    height: 100%;
    float: left;
    /*text-align: center;*/
    /*vertical-align: middle;*/
    overflow: auto;
}

#home{
    background: rosybrown;
}

#concept{
    background: gold;
}


/*合伙人*/
#partner{
    background: goldenrod;
    position: relative;
}
#inputUL{
    position: absolute;
    top: 575%;
    left: 10%;
    width: 80%;
    height: 8.65%;
    list-style: none;
    /*background: chartreuse;*/
}
#inputUL li{
    margin-bottom: 10%;
    margin-top: 8%;
    outline-style: none;
    text-align: center;
}
#inputUL li label{
    display: inline-block;
    font-size: 20px;
}
#inputUL li input{
    display: inline-block;
    margin-left: 10px;
    width: 65%;
    height: 25px;
    font-size: 18px;
    border-bottom: 1px solid black;
    border-left:0px;
    border-top:0px;
    border-right:0px;
    border-radius: 0px;
    outline: none;
}

#commit{
    display: inline-block;
    padding: 2px 10px;
    height: 30px;
    background: darkred;
    color: white;
    font-size: 20px;
    border-radius: 8px;
    border: 1px white;
    outline: none;
}



#about{
    background: firebrick;
}

#enter{
    background-color: aliceblue;
}

#news{
    background: lavenderblush;
}

/*News*/
/*top*/
#top{
    position: relative;
    overflow-y: scroll;
    margin-top: 20px;
    height: 350px;
    background: white;
}
#topUL{
    position: absolute;
    top: 0;
    left: 0;
    list-style-type: none;
}

#topUL li{
    display: inline-block;
    vertical-align: center;
}

#topUL .topImage{
    display: inline-block;
    height: 100%;
    background: rebeccapurple;
}


#topUL .name{
    display: inline-block;
    padding-top: 15px;
    height: 30px;
    font-size: 18px;
    color: black;
}

#topUL .info{
    position: relative;
    vertical-align: center;
}

#topUL img{
    margin-left: 10px;
    width: 15px;
    height: 15px;
    /*background: coral;*/
    vertical-align: center;

}
#topUL label{
    margin-left: 10px;
    margin-right: 15px;
    font-size: 13px;
    color: gainsboro;
    vertical-align: center;
}
/*list*/
#list{
    margin-top: 10px;
    position: relative;
    background: white;
}

#list li{
    border-top-width: 0.2px;
    border-top-color: gainsboro;
    border-top-style: solid;
    padding-top: 5px;
}

#list .topImage{
    width: 80px;
    height: 80px;
    /*background: rosybrown;*/
}

#list .name{
    display: inline-block;
    position: absolute;
    margin-top: 5px;
    left: 90px;
    width: 60%;
    height: 30px;
    font-size: 18px;
    color: black;
    line-height: 20px;
}

#list .info{
    display: inline-block;
    max-width: 73%;
    margin-bottom: 5px;
}

#list img{
    width: 15px;
    height: 15px;
    margin-left: 10px;
    /*background: coral;*/
}

#list label{
    margin-left: 5px;
    margin-right: 15px;
    font-size: 13px;
    color: gainsboro;
    vertical-align: center;
}