body{
    background: rgba(241, 241, 241, 1.0);
}

/*top*/
#top{
    position: relative;
    /*使用hidden用于 屏蔽手势滑动 造成内容滚动的效果*/
    overflow-x: hidden;
    margin-top: 20px;
    height: 350px;
    background: white;
}
#topUL{
    position: absolute;
    top: 0;
    left: 0;
    list-style-type: none;
}

#topUL li{
    display: inline-block;
    vertical-align: center;
}

#topUL .topImage{
    display: inline-block;
    height: 270px;
    /*background: rebeccapurple;*/
    margin-left: 0px;
}


#topUL .name{
    display: inline-block;
    padding-top: 15px;
    height: 30px;
    font-size: 15px;
    color: black;
}

#topUL .info{
    position: relative;
    vertical-align: center;
    padding-top: 5px;
}

#topUL img{
    width: 13px;
    height: 13px;
    vertical-align: center;
    margin-left: 12px;
}

#topUL label{
    margin-left: 10px;
    margin-right: 15px;
    font-size: 13px;
    color: gainsboro;
    vertical-align: center;
}

/*list*/
#list{
    margin-top: 10px;
    position: relative;
    background: white;
}

#list li{
    border-top-width: 0.2px;
    border-top-color: gainsboro;
    border-top-style: solid;
    padding-top: 5px;
}

#list .topImage{
    width: 80px;
    height: 80px;
    /*background: rosybrown;*/
    margin-left: 10px;
}

#list .name{
    display: inline-block;
    position: absolute;
    margin-top: 5px;
    left: 90px;
    width: 60%;
    height: 30px;
    font-size: 15px;
    color: black;
    line-height: 20px;
}

#list .info{
    display: inline-block;
    max-width: 70%;
    margin-bottom: 5px;
}

#list img{
    width: 12px;
    height: 12px;
    margin-left: 5px;
    /*background: coral;*/
}

#list label{
    margin-left: 10px;
    margin-right: 15px;
    font-size: 13px;
    color: gainsboro;
    vertical-align: center;
}


