/*通用设置*/
a, address, b, big, blockquote, body, center, cite, code, dd, del, div, dl, dt, em, fieldset, font, form, h1, h2, h3, h4, h5, h6, html, i, iframe, img, ins, label, legend, li, ol, p, pre, small, span, strong, u, ul, var {
    margin: 0;
    padding: 0;
}

body{
    position: relative;
    max-width:640px;
    min-width:320px;
    margin-left: auto;
    margin-right: auto;
}

/*navigator*/
.navigator{
    background: white;
    border-bottom-width: 0.2px;
    border-bottom-color: gainsboro;
    border-bottom-style: solid;
    height: 64px;
}

#logo{
    display: inline-block;
}

#logo img{
    /*----*/
    padding: 10px;
    padding-left: 12px;
    width: 44px;
}

#kind{
    position: relative;
    overflow-x: scroll;
    display: inline-block;
    word-spacing: -6px;
    height: 64px;
    /*background: olive;*/
    width: 80%;
}

#selected{
    color: #B41800;
}

#kindUL{
    position: absolute;
    top:0;
    left: 0;
    width: 520px;
}

#kindUL li{
    display: inline-block;
    height: 100%;
    line-height: 64px;
}

li a{
    display: inline-block;
    margin-left: 15px;
    font-size: 18px;
    text-decoration:none;
    color: #1a1a1a;
    outline: none;
}

